---
import Welcome from "@/components/Welcome.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles.css";
import {Button} from "@/components/primitives/button";
import DeleteConfirmation from "@/components/DeleteConfirmation.svelte";

if (!Astro.locals.user?.id) return Astro.redirect("/sign-in");

const user = Astro.locals.user;
---

<Layout>
  <div class="dashboard p-6 max-w-4xl mx-auto pt-20">
    <h1 class="text-2xl font-bold text-foreground mb-4">Dashboard</h1>

    {
      !user.emailVerified && (
        <div class="bg-orange-100 dark:bg-yellow-900 px-2 py-2 rounded-lg mb-4 flex justify-between items-center">
          <p class="text-sm ml-2 text-orange-900 dark:text-yellow-100">
            Email <strong>{user.email}</strong> is not verified
          </p>
          <Button href="/verify-email" variant="outline" size="sm">
            No email?
          </Button>
        </div>
      )
    }

    <Welcome user={user} />
    <div class="flex gap-4 items-center">
      <Button href="/account" variant="outline" size="sm">
        Account Settings
      </Button>
      <Button href="/email-demo" variant="outline" size="sm">
        Email Demo →
      </Button>
      <DeleteConfirmation client:load />
    </div>
  </div>
</Layout>
