---
import Layout from "@/layouts/Layout.astro";

const {env} = Astro.locals.runtime;
const isProd = env.PROD;
const betterAuthSecret = env.BETTER_AUTH_SECRET;
const resendApiKey = env.RESEND_API_KEY;
const sendEmailFrom = env.SEND_EMAIL_FROM;
const betterAuthBaseUrl = env.BETTER_AUTH_BASE_URL;

function redact(val: string | undefined) {
  if (!val) return "(not set)";
  return val.slice(0, 3) + "...";
}
---

<Layout>
  <div class="max-w-2xl mx-auto py-12">
    <div
      class="overflow-hidden bg-card dark:bg-card shadow-sm sm:rounded-lg border border-border"
    >
      <div class="px-4 py-6 sm:px-6">
        <h3 class="text-base/7 font-semibold text-foreground">Status</h3>
        <p class="mt-1 max-w-2xl text-sm/6 text-muted-foreground">
          Status of the application.
        </p>
      </div>
      <div class="border-t border-border">
        <dl class="divide-y divide-border">
          <div>
            <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-foreground">Environment</dt>
              <dd
                class="mt-1 text-sm/6 text-muted-foreground sm:col-span-2 sm:mt-0"
              >
                {isProd ? "Production" : "Development"}
              </dd>
            </div>
          </div>
          <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-foreground">
              <code class="text-muted-foreground text-xs">RESEND_API_KEY</code>
            </dt>
            <dd
              class="mt-1 text-sm/6 text-muted-foreground sm:col-span-2 sm:mt-0"
            >
              {resendApiKey ? "✅" : "❌"}
            </dd>
          </div>
          <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-foreground">
              <code class="text-muted-foreground text-xs">
                BETTER_AUTH_SECRET
              </code>
            </dt>
            <dd
              class="mt-1 text-sm/6 text-muted-foreground sm:col-span-2 sm:mt-0"
            >
              {betterAuthSecret ? "✅" : "❌"}
            </dd>
          </div>
          <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-foreground">
              <code class="text-muted-foreground text-xs"
                >BETTER_AUTH_BASE_URL</code
              >
            </dt>
            <dd
              class="mt-1 text-sm/6 text-muted-foreground sm:col-span-2 sm:mt-0"
            >
              {betterAuthBaseUrl}
            </dd>
          </div>
          <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-foreground">
              <code class="text-muted-foreground text-xs">SEND_EMAIL_FROM</code>
            </dt>
            <dd
              class="mt-1 text-sm/6 text-muted-foreground sm:col-span-2 sm:mt-0"
            >
              {sendEmailFrom}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</Layout>
