---
if (Astro.locals.user?.id) return Astro.redirect("/dashboard");
import Layout from "@/layouts/Layout.astro";
import {actions, isInputError} from "astro:actions";
import {Input} from "@/components/primitives/input";
import {Button} from "@/components/primitives/button";
import Mail from "@/assets/mail.svg";

const result = Astro.getActionResult(
  actions.authentication.sendResetPasswordEmail,
);

let sent = false;

if (result?.data?.success) {
  sent = true;
}

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
const noInputErrors = !inputErrors.email;
---

<Layout>
  <div
    class="flex flex-col items-center justify-center w-full py-12 min-h-[70dvh]"
  >
    <div class="w-full max-w-xs">
      <h1 class="text-2xl font-bold mb-8 text-center">Reset Password</h1>
      {
        sent ? (
          <p class="text-center text-sm mt-4">
            An email has been sent to you with a link to reset your password. It
            will be valid for 1 hour, after which you will need to request
            another link.
          </p>
        ) : (
          <form
            method="POST"
            action={actions.authentication.sendResetPasswordEmail}
            class="space-y-4"
          >
            <div class="relative flex items-center rounded-md border focus-within:ring-1 focus-within:ring-ring pl-2">
              <Mail class="h-5 w-5 text-muted-foreground mr-1" />
              <Input
                type="email"
                placeholder="Email"
                class="border-0 focus-visible:ring-0 shadow-none bg-transparent dark:bg-transparent"
                name="email"
                aria-describedby="email"
                required
              />
            </div>

            {inputErrors.email && (
              <span class="text-red-500 text-xs ml-2" id="error">
                {inputErrors.email.join(", ")}
              </span>
            )}

            {noInputErrors && result?.error && (
              <span class="text-red-500 text-xs ml-2" id="error">
                {result.error.message}
              </span>
            )}

            <Button type="submit" class="w-full mt-4">
              Send Reset Link{" "}
            </Button>

            <p class="text-center text-sm mt-4">
              Remember your password?{" "}
              <a href="/sign-in" class="text-primary underline">
                Sign in here
              </a>
            </p>
          </form>
        )
      }
    </div>
  </div>
</Layout>
