---
import ThemeSelect from "@/components/ThemeSelect.svelte";
import LanguageSelect from "@/components/LanguageSelect.svelte";
---

<footer class="border-t border-border">
  <div
    class="mx-auto max-w-7xl px-6 py-4 md:flex md:items-center md:justify-between lg:px-8"
  >
    <div class="flex justify-center gap-x-2 md:order-2">
      <LanguageSelect client:load />
      <ThemeSelect client:load />
    </div>
    <p
      class="mt-8 text-center text-sm/6 text-muted-foreground md:order-1 md:mt-0"
    >
      &copy; {new Date().getFullYear()} Your Company, Inc. All rights reserved.
    </p>
  </div>
</footer>
